textarea {
    width: 100%;
}

input[type=submit] {
    margin-top: 10px;
}

.split {
    display: flex;
    flex-direction: row; /* 명시적으로 좌우 배치를 지정 */
    height: 100vh;
}

.split > div {
    flex: 1;
    overflow-y: auto;
}

.left {
    border-right: 1px solid #ddd;
}

/* 추가된 스타일 */
table {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #dee2e6;
    table-layout: fixed; /* 고정된 테이블 레이아웃 */
}

th, td {
    border: 1px solid #dee2e6;
    padding: 8px;
    text-align: left; /* 기본적으로 왼쪽 정렬 */
    word-wrap: break-word;
    white-space: normal; /* Allow text to wrap */
}

th {
    background-color: #f8f9fa;
}

.table-wrapper {
    max-height: 500px;
    overflow-y: auto;
}

.product-name {
    width: 30%;
}

.date-column {
    width: 15%;
}

.price-column {
    width: 15%;
}

.competitor-column {
    width: 15%;
}

/* afterSearch html에서 가져온 부분 */
.table-wrapper {
    max-height: 700px;
    overflow-y: auto;
}

.bg-danger {
    background-color: yellow !important;
    font-weight: bold;
    color: black !important;
}

/* beforeSearch의 dataTable 관련 설정 */
#dataTable {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #dee2e6;
    table-layout: fixed; /* 테이블 레이아웃을 고정 */
}

#dataTableWrapper {
    max-height: 180px;
    overflow-y: auto;
    height: 180px; 
}

#dataTable th, #dataTable td {
    text-align: center;
}

/* 검색결과테이블 관련 설정 */
#searchedDataTable th, 
#searchedDataTable td {
    text-align: center; /* 가운데 정렬 */
}

#searchedDataTable {
    display: table;
    width: 100%;
    height: 425px;/* 고정된 높이 설정 */
    overflow-y: auto;
    table-layout: fixed; /* 테이블 레이아웃 고정 */
}

#searchedDataTable tbody {
    height: 425px; /* 고정된 높이 설정 */
    display: block;
}

#searchedDataTable thead, #searchedDataTable tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
}

#searchedDataTable tbody td, #searchedDataTable thead th {
    width: 50%; /* 각 셀의 너비를 50%로 설정 */
}

/* 도움말 아이콘 스타일 */
.help-icon {
    display: inline-block;
    color: #007bff;
    font-size: 1.2em;
    cursor: pointer;
    margin-left: 10px;
    position: relative;
}
.help-tooltip {
    display: none;
    position: absolute;
    top: 0;
    left: 25px; /* 아이콘 옆에 표시되도록 설정 */
    width: 250px;
    background-color: #333;
    color: white;
    padding: 10px;
    border-radius: 5px;
    z-index: 1000;
}
.help-tooltip::after {
    content: "";
    position: absolute;
    top: 10px; /* 삼각형의 위치를 변경 */
    left: -10px; /* 삼각형을 왼쪽으로 이동 */
    border-width: 5px;
    border-style: solid;
    border-color: transparent #333 transparent transparent;
}
/*구분선 위치 맞춤*/
.divider {
    border-top: 2px solid #000000; /* 색상을 검은색으로 변경 */
    margin: 40px 0;
}
/*탐색 결과의 가격 글자 크기*/
.searchedPrice {
    font-size: 1.5em; /* 원하는 크기로 조정 */
    font-weight: bold; /* 글자를 굵게 표시 */
}